---
import "photoswipe/style.css";

const GALLERY_IMAGES = [
  {
    src: "/images/gallery/img-1.webp",
    width: 1000,
    height: 750,
  },
  {
    src: "/images/gallery/img-2.webp",
    width: 1000,
    height: 1498,
  },
  {
    src: "/images/gallery/img-3.webp",
    width: 1000,
    height: 667,
  },
  {
    src: "/images/gallery/img-4.webp",
    width: 1000,
    height: 1250,
  },
  {
    src: "/images/gallery/img-5.webp",
    width: 1000,
    height: 667,
  },
  {
    src: "/images/gallery/img-6.webp",
    width: 1000,
    height: 1363,
  },
];
---

<article
  class="grid sm:grid-cols-2 md:grid-cols-3 w-full max-w-screen-lg mx-auto gap-4 sm:gap-6 md:gap-8 py-20 px-4"
  id="gallery"
>
  {
    GALLERY_IMAGES.map((_, i) => (
      <a
        class="group rounded-xl hover:scale-105 transition-transform relative"
        href={GALLERY_IMAGES[i].src}
        target="_blank"
        data-pswp-width={GALLERY_IMAGES[i].width}
        data-pswp-height={GALLERY_IMAGES[i].height}
        data-cropped="true"
      >
        <img
          class="rounded-xl aspect-3/4 object-cover"
          loading="lazy"
          src={GALLERY_IMAGES[i].src}
          alt="Image"
        />
        <img
          class="blur-lg absolute inset-0 transition group-hover:contrast-150 opacity-70 -z-10 rounded-xl aspect-3/4 object-cover"
          loading="lazy"
          src={GALLERY_IMAGES[i].src}
          alt="Image"
        />
      </a>
    ))
  }
</article>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
